.main{
    width: 260px;
    height: 550px;
    border-radius:50px ;
    padding: 10px;
    display: flex;
    background: black;
    border:3px solid white;
    justify-content: space-around;
    align-items: end;
    flex-direction: column;
    gap: 8px;

}
