.main {
    box-sizing: border-box;
     background: #181818;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin: 0;
}



